body, html {
    min-height: 100%;
}

body {
    background-color: #e3e0d1;
    font-family: 'Open Sans', sans-serif;
}


.clear {
    clear: both;
}

.padl0 {
    padding-left: 0;
}

.padr0 {
    padding-right: 0;
}

.fullcontent .row {
    margin-right: 0;
}

.padl30 {
    padding-left: 30px;
}

.margb28 {
    margin-bottom: 28px;
}

.margr0 {
    margin-right: 0;
}

.margl15 {
    margin-left: 15px;
}

/* MENU */
.blog__menu {
    background: url(../img/menu-bg.png);
    border-right: 1px dashed #c8c8c8;
    padding-top: 31px;
}

.blog__menu ul {
    margin-top: 47px;
    padding-left: 0;
    list-style-type: none;
}

.blog__menu ul li {
   text-align: right;
    
}

.blog__menu ul li a {
   display: block;
   color: #929090;
   padding: 24px 27px 11px 0;
   border-bottom: 1px solid #c8c8c8;
   text-transform: uppercase;
   
}

.blog__menu ul li.active {
    background-color: #ffffff;
    box-shadow: -10px -5px 15px rgba(0,0,0,0.2);
    margin-right: -6px;
    padding-right: 6px;
    font-weight: bold;
    position: relative;
    z-index: 5;
}


.blog__menu ul li.active a{
    color: black;
}

.blog__menu ul li a:hover {
    text-decoration: none;
    background-color: #ffffff;
    color: #393939;
    opacity:0.5; 
}

.blog__menu ul li.active a:hover{
    color: black;
}

.blog__menu ul li.active a:hover{
    opacity: 1;
}

/* MENU END */

.fullcontent {
    padding-top: 30px;
    position: static;
}

.content {
    background-color: #ffffff;
    padding-top: 42px;
    padding-left: 37px;
    padding-bottom: 40px;
    box-shadow: 10px 0 15px rgba(0,0,0,0.2);
    padding-right: 39px;
    margin-bottom: 5px;
    z-index: 1;
    overflow: hidden;
}

.content--heading {
    color: #4a4949;
    font-size: 30px;
    border-bottom: 1px dashed #d3d3d3;
}

.content--text {
    color: #aaa9a9;
    font-size: 16px;
    margin-top: 31px;
    margin-bottom: 20px;
}

.continue {
    background-color: #f1770a;
    padding: 12px 27px;
    border-radius: 7px;
    color: #ffffff;
    cursor: pointer;
    width: 18%;
}

.cont-img2 {
    float: right;
    max-width: 30%;
}

.content__button {
    width: 35px;
    height: 35px;
    background-color: #c3c1c1;
    color: #ffffff;
    float:left;
    border-radius: 7px;
    padding-top: 9px;
    padding-bottom: 15px;
    margin-right: 5px;
    text-align: center;
}

.content__button.active {
    width: 35px;
    height: 35px;
    background-color: #4b4848;
    color: #ffffff;
    float:left;
    border-radius: 7px;
    padding-top: 9px;
    padding-bottom: 15px;
    margin-right: 5px;
    text-align: center;
}

.btn-warning {
    background: #f1770a;
    border-radius: 7px;
    padding: 6px 25px;
}

.btn-primary.btnactive {
    background: #4b4848;
}

.btn-primary {
    background: #c3c1c1;
    border: none;
    border-radius: 6px;
    margin-right: 5px;
}

.btn-primary a {
    color: white;
}

.btn-primary:hover {
    background: #bdb9b9;
}

.btn-primary.btnactive:hover {
    background: #4b4848;
}

.month {
    margin-top: 75px;
    background-color: #ffffff;
    width: 37%;
    padding: 5px 5px 5px 0;
    border-radius: 0 5px 5px 0;
}

#circle {
    width: 14px;
    height: 14px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    background-color: #e3e0d1;
    float:left;
    margin-top: 3px;
    margin-right: 5px;
    margin-left: 3px; 
}

.footer {
    background-color: #524f4f;
    padding-top: 30px;
    padding-bottom: 36px;
    padding-left: 39px;
    margin-top: 23px;
}

.footer__heading {
    color: #e3e0d1;
}

.footer__text {
    color: #c3c1c1;
    font-size: 13px;
}

.footer__dashed {
    background: url('../img/dashed.png');
    width: 100%;
    height: 1px;
    margin-bottom: 27px;
}

.footer--span {
    color: #e0d9b4;
}

.footer__copyright {
    background-color: #3e3b3b;
    color: #ffffff;
    padding-left: 41px;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-right: 10px;
    font-size: 13px;
}

.footer__copyright img {
    float: right;
    margin-left: 10px;
}

/* ABOUT ME */

.content__img {
    background-image: url('../img/about-bg.png');
    background-position: center;
    background-size: cover;
    padding-top: 220px;
    padding-right: 40px;
    text-align: right;
    color: #ffffff;
    margin-left: -37px;
    margin-right: -39px;
    margin-top: -42px;
    padding-bottom: 35px;
    margin-bottom: 37px;
    z-index: 2;
}

.about__content-img--heading {
    font-size: 72px;
    margin-bottom: 122px;
    font-weight: bold;
}

.about__content-img--text-H {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 22px;
}

.about__content-img--text {
    font-size: 16px;
    float: right;
    width: 65%;
}

.about__content--heading {
    font-size: 30px;
    color: #4a4949;
}

.about__content--text {
    font-size: 16px;
    color: #aaa9a9;
    margin-bottom: 15px;
}

.about__content-rows--heading {
    font-size: 18px;
    color: #4a4949;
}

.about__dashed {
    height: 1px;
    width: 100%;
    background: url('../img/dashed2.png');
}

.about__content-rows--text {
    font-size: 16px;
    color: #aaa9a9;
    margin-top: 30px;
}

.about__span--black {
    color: #000000;
    font-weight: 600;
}

.about__span--orange {
    color: #f1770a;
    font-weight: 600;
}

.about__posts--heading {
    color: #4a4949;
    font-size: 18px;
    margin-top: 42px;
}

.about__month {
    background-color: #ffffff;
    border-radius: 5px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 17px;
    margin-bottom: 12px;
}

.about__span--month {
    color: #5f5c5c;
    font-size: 16px;
}

/* ABOUT ME END */

/* GALLERY */

.gallery__content--heading {
    color: #393939;
    font-size: 72px;
    font-weight: 600;
}

.gallery__imgcontainer {
    background-color: #f5f4f1;
    padding-top: 20px;
    padding-left: 22px;
    padding-right: 16px;
    margin-bottom: 23px;
    border: 1px solid #e3e3e3;
    border-radius: 7px;
}

.gallery__imgcontainer:hover {
    background: #f3f1ea;
}

.gallery__imgcontainer img {
    margin-bottom: 25px;
}

/* GALLERY END */

/* CONTACT */

.content input {
    margin-bottom: 23px;
    background-color: #fbfbfb;
    padding: 20px 15px;
}

.content textarea {
    margin-bottom: 23px;
    background-color: #fbfbfb;
}

.btn-default {
    background: #f1770a;
    color: #ffffff;
    padding: 10px 70px;
    border-radius: 7px;
}

.contact__phone-mail {
    background-color: #ffffff;
    width: 50%;
    padding: 5px 5px 5px 0;
    border-radius: 0 5px 5px 0;
    margin-bottom: 10px;
    border-radius: 7px;
}

.margphone {
    margin-top: 50%;
}

.contact__phone-mail img {
    margin: 5px 15px;
}

.contact__text {
    color: #5f5c5c;
    font-size: 16px;
    display: inline;
}

.contact__span-black {
    color: #393939;
    font-size: 20px;
}

.contact__phone-mail a{
    color: #f1770a;
    font-size: 20px;
}
textarea{
    resize: vertical;
}

/* CONTACT END */

.success_form {
    background-color: #EBF3EC;
    position: absolute;
    top:30%;
    left:30%;
    padding: 30px;
    border: 1px solid #1abc9c;
}

.success_form button {
    margin: 0 40%;
}

.delete_news {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 45px;
}

.edit_news {
    position: absolute;
    top: 10px;
    right: 70px;
    width: 50px;
    height: 45px;
    -webkit-transition: -ms-transform 0.8s; /* For Safari 3.1 to 6.0 */
    transition: transform 0.8s;
}

.edit_news:hover {
    -ms-transform: scale(1.2,1.2); /* IE 9 */
    -webkit-transform: scale(1.2,1.2); /* Safari */
    transform: scale(1.2,1.2);
}

.log_block {
    width: 60%;
}

.log_block a{
    text-decoration: none;
}

.log_block ul {
    list-style-type: none;
    text-align: center;
    margin-bottom: 50px;
}

.log_block ul li {
    border-bottom: 1px solid orange;
}

.log_block ul li a{
    color:  #1abc9c;
    font-size: 30px;
    
}

.log_block ul li a:hover{
    text-decoration: none;
}

#btn-return {
    margin-top: 15px;
}

.delete_news { 
    -webkit-transition: -ms-transform 0.8s; /* For Safari 3.1 to 6.0 */
    transition: transform 0.8s;
}

.delete_news:hover {
    -ms-transform: scale(1.2,1.2); /* IE 9 */
    -webkit-transform: scale(1.2,1.2); /* Safari */
    transform: scale(1.2,1.2);
}

.content ul {
    list-style-type: none;
}

.content ul li {
    margin-right: 5px;
    padding: 0;
}

.content ul li a {
    padding: 10px 15px;
    background-color: #c3c1c1;
    color: white;
    border-radius: 7px;
}

.content ul li.active {
    margin-right: 5px;
    padding: 8px 15px;
    background-color: #4b4848;
    border-radius: 7px;
    color: white;
}

.content ul li a:hover {
    text-decoration: none;
    background-color: #afaeae;
}

#id_news {
    display: none;
}

#btnreturn {
    position: fixed;
    top: 20px;
    right: 20px;
}

hr.soften {
    height: 3px;
    margin: 60px 0;
    border: 0;
    background-image: -webkit-linear-gradient(left,transparent,rgba(0,0,0,0.1),white);
}

.comment {
    margin: 25px 0;
    border-radius: 0 20px 20px 0;
}

.comment__heading {
    border-top: 4px double black;
    border-bottom: 4px double black;
    padding: 10px 0; 
}

.comment__name {
    font-size: 20px;
    font-weight: bold;
    color: #5f5c5c;
    border-bottom: 1px dashed #0081c2;
}

.comment__text {
    font-size: 16px;
    margin-top: 25px;
}

.comment__no--text {
    margin-top: 40px;
    font-style: italic;
}

#slug_invis {
    display: none;
}

#id_invis {
    display: none;
}

.each__comment {
    margin: 20px 0;
    border: 2px solid #b57c32;
    border-radius: 10px;
    padding: 15px;
}

.num_comment {
    padding-right: 10px;
    font-size: 24px;
    color: red;
}

.hr__date {
    height: 1px;
    margin: 20px 0;
    border: 0;
    background-image: -webkit-linear-gradient(left,transparent,#0081c2,white);
}

.comment__date {
    font-style: italic;
    font-size: 12px;
    color: #1abc9c;
}

.comment_new {
    font-size: 22px;
}

.log_reg_div {
    position: fixed;
    top: 20px;
    right:20px;
    z-index: 15;
}

.galka {
    float: left;
    width: 20px;
    height: 20px;
    display: none;
}

#ajax_log, #ajax_email {
    text-align: center;
}

.user_loged_in {
    position: fixed;
    top: 20px;
    right:20px;
    font-style: italic;
}

.not_reg_user {
    color: #5f5c5c;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    margin-top: 35px;
    margin-bottom: 35px;
}

.add_photo_text {
    font-size: 30px;
    font-weight: bold;
    color: #929090;
    text-align: center;
}

#add_link {
    display: block;
}

#add_link:hover {
    color: #4a4949;
}

.login_hidden {
    width: 20%;
    position: fixed;
    top:20px;
    right: 0;
    display: none;
}

.books_heading {
    font-size: 26px;
}

.books_text {
    font-size: 13px;
    color: #929090;
}

.books_span {
    font-size: 11px;
    font-style: italic;
}

#tah_status-heading {
    font-size: 24px;
    color: black;
    margin-top: 90px;
    text-align: center;
}

#tah_status {
    font-size: 24px;
    color: red;
    text-align: center;
}

#tah_status-text {
    font-size: 16px;
    color: rgb(52, 0, 128);
    text-align: center;
}