body, html {
    min-height: 100%;
}

body {
    background-color: #e3e0d1;
    font-family: 'Open Sans', sans-serif;
}


.clear {
    clear: both;
}

.padl0 {
    padding-left: 0;
}

.padr0 {
    padding-right: 0;
}

.padl30 {
    padding-left: 30px;
}

.margb28 {
    margin-bottom: 28px;
}

.blog__menu {
    background: url(../img/menu-bg.png);
    border-right: 1px dashed #c8c8c8;
    padding-top: 31px;
    min-height: 100%;
}

.blog__menu ul {
    float: right;
    margin-top: 47px;
    text-align: right;
    width: 100%;
    padding-left: 0;
    list-style-type: none
}

.blog__menu ul li {
    padding-bottom: 10px;
    padding-top: 20px;
    border-bottom: 1px solid #c8c8c8;
    padding-right: 27px;
}

.blog__menu ul li a {
    color: #929090;
}

.blog__menu ul li.active {
    background-color: #ffffff;
    box-shadow: 10px 0 15px rgba(0,0,0,0.2);
    margin-right: -6px;
    padding-right: 33px;
    z-index: 3;
    
}

.blog__menu ul li a:hover {
    text-decoration: none;
}

.fullcontent {
    padding-top: 30px;
}

.fullcontent .row {
    margin-right: 0;
}

.content {
    background-color: #ffffff;
    padding-top: 42px;
    padding-left: 37px;
    padding-bottom: 40px;
    box-shadow: 10px 0 15px rgba(0,0,0,0.2);
    padding-right: 39px;
    margin-bottom: 5px;
    z-index: 1;
}

.content--heading {
    color: #4a4949;
    font-size: 30px;
    border-bottom: 1px dashed #d3d3d3;
}

.content--text {
    color: #aaa9a9;
    font-size: 16px;
    margin-top: 31px;
    margin-bottom: 20px;
}

.continue {
    background-color: #f1770a;
    padding: 12px 27px;
    border-radius: 7px;
    color: #ffffff;
    cursor: pointer;
    width: 18%;
}

.cont-img2 {
    float: right;
    max-width: 30%;
}

.content__button {
    width: 35px;
    height: 35px;
    background-color: #c3c1c1;
    color: #ffffff;
    float:left;
    border-radius: 7px;
    padding-top: 9px;
    padding-bottom: 15px;
    margin-right: 5px;
    text-align: center;
}

.content__button.active {
    width: 35px;
    height: 35px;
    background-color: #4b4848;
    color: #ffffff;
    float:left;
    border-radius: 7px;
    padding-top: 9px;
    padding-bottom: 15px;
    margin-right: 5px;
    text-align: center;
}

.btn-warning {
    background: #f1770a;
    border-radius: 7px;
    padding: 6px 25px;
}

.btn-primary.btnactive {
    background: #4b4848;
}

.btn-primary {
    background: #c3c1c1;
    border: none;
    border-radius: 6px;
}

.btn-primary:hover {
    background: #bdb9b9;
}

.btn-primary.btnactive:hover {
    background: #4b4848;
}

.month {
    background-color: #ffffff;
    width: 37%;
    padding: 5px 5px 5px 0;
    border-radius: 0 5px 5px 0;
}

#circle {
    width: 14px;
    height: 14px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    background-color: #e3e0d1;
    float:left;
    margin-top: 3px;
    margin-right: 5px;
    margin-left: 3px; 
}

.footer {
    background-color: #524f4f;
    padding-top: 30px;
    padding-bottom: 36px;
    padding-left: 39px;
    margin-top: 23px;
}

.footer__heading {
    color: #e3e0d1;
}

.footer__text {
    color: #c3c1c1;
    font-size: 13px;
}

.footer__dashed {
    background: url('../img/dashed.png');
    width: 100%;
    height: 1px;
    margin-bottom: 27px;
}

.footer--span {
    color: #e0d9b4;
}

.footer__copyright {
    background-color: #3e3b3b;
    color: #ffffff;
    padding-left: 41px;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-right: 10px;
    font-size: 13px;
}

.footer__copyright img {
    float: right;
    margin-left: 10px;
}

/* ABOUT ME */

.content__img {
    background-image: url('../img/about-bg.png');
    background-position: center;
    background-size: cover;
    padding-top: 220px;
    padding-right: 40px;
    text-align: right;
    color: #ffffff;
    margin-left: -37px;
    margin-right: -39px;
    margin-top: -42px;
    padding-bottom: 35px;
    margin-bottom: 37px;
    z-index: 2;
}

.about__content-img--heading {
    font-size: 72px;
    margin-bottom: 122px;
    font-weight: bold;
}

.about__content-img--text-H {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 22px;
}

.about__content-img--text {
    font-size: 16px;
    float: right;
    width: 65%;
}

.about__content--heading {
    font-size: 30px;
    color: #4a4949;
}

.about__content--text {
    font-size: 16px;
    color: #aaa9a9;
    margin-bottom: 84px;
}

.about__content-rows--heading {
    font-size: 18px;
    color: #4a4949;
}

.about__dashed {
    height: 1px;
    width: 100%;
    background: url('../img/dashed2.png');
}

.about__content-rows--text {
    font-size: 16px;
    color: #aaa9a9;
    margin-top: 30px;
}

.about__span--black {
    color: #000000;
    font-weight: 600;
}

.about__span--orange {
    color: #f1770a;
    font-weight: 600;
}

.about__posts--heading {
    color: #4a4949;
    font-size: 18px;
    margin-top: 42px;
}

.about__month {
    background-color: #ffffff;
    border-radius: 5px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 17px;
    margin-bottom: 12px;
}

.about__span--month {
    color: #5f5c5c;
    font-size: 16px;
}

/* ABOUT ME END */

/* GALLERY */

.gallery__content--heading {
    color: #393939;
    font-size: 72px;
    font-weight: 600;
}

.gallery__imgcontainer {
    background-color: #f5f4f1;
    padding-top: 20px;
    padding-left: 22px;
    padding-right: 16px;
    margin-bottom: 23px;
    border: 1px solid #e3e3e3;
    border-radius: 7px;
}

.gallery__imgcontainer img {
    margin-bottom: 25px;
}

/* GALLERY END */

/* CONTACT */

.content input {
    margin-bottom: 23px;
    background-color: #fbfbfb;
    padding: 20px 15px;
}

.content textarea {
    margin-bottom: 23px;
    background-color: #fbfbfb;
}

.btn-default {
    background: #f1770a;
    color: #ffffff;
    padding: 10px 70px;
    border-radius: 7px;
}

.contact__phone-mail {
    background-color: #ffffff;
    width: 50%;
    padding: 5px 5px 5px 0;
    border-radius: 0 5px 5px 0;
    margin-bottom: 10px;
    border-radius: 7px;
}

.margphone {
    margin-top: 50%;
}

.contact__phone-mail img {
    margin: 5px 15px;
}

.contact__text {
    color: #5f5c5c;
    font-size: 16px;
    display: inline;
}

.contact__span-black {
    color: #393939;
    font-size: 20px;
}

.contact__phone-mail a{
    color: #f1770a;
    font-size: 20px;
}

/* CONTACT END */
