<form accept-charset="UTF-8" action="/logins/create" id="signup_form" method="post"><div style="display:none"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="1kWBu1RGJLyU7fzlLWzU69drRpGIw0zsCv6OMqpkvE0="></div><div class="head_user_login">
        <div class="footer_user_login">
            <div class="content_user_login">
                <div class="time_tracking_services">
                    <span style="height: 100%;"></span>
                    <span>
                        <img alt="Logins tahometer img" class="logo_img" src="/images/logins/logins_tahometer_img.png">
                        <h1>
                            konvicti
                        </h1>
                    </span>
                </div>
                <div class="provide_credentials">

                    <div class="txt">
                        Please provide us with your credentials
                    </div>
                    <div class="without_error">
                        <span></span>
                    </div>
                    <div class="txt_credentials">
                        <div class="txt_login">
                            <div class="text">
                                E-Mail:
                            </div>
                            <div class="input_logins" background="url(/images/signup/input_img.png) top left no-repeat">
                                <input id="user_email" maxlength="50" name="user[email]" size="24" type="text" background="url(/images/signup/input_img_active.png) top left no-repeat">
                            </div>
                        </div>
                        <div class="txt_login">
                            <div class="text">
                                Password:
                            </div>
                            <div class="input_logins" background="url(/images/signup/input_img.png) top left no-repeat">
                                <input id="user_password" maxlength="30" name="user[password]" size="24" type="password">
                            </div>
                        </div>

                    </div>
                    <div id="user_name_and_password_completion">
                        <div id="place_order">
                            <input alt="Login button en" class="sign_up_button" id="signup_submit" onclick="show_loader();
                                    this.setAttribute('originalValue', this.value);
                                    this.disabled = true;
                                    this.value = 'Processing your login...';
                                    result = (this.form.onsubmit ? (this.form.onsubmit() ? this.form.submit() : false) : this.form.submit());
                                    if (result == false) {
                                        this.value = this.getAttribute('originalValue');
                                        this.disabled = false
                                    }
                                    ;
                                    return result;
                                    " src="/images/logins/login_button_en.png" type="image" value="Sign In">
                        </div>
                    </div>
                    <div id="loader" style="display: none;">
                        <img alt="Loader" src="/images/logins/loader.gif">
                    </div>
                    <div class="forgot_pass">
                        <a href="/logins/forgot_password" onclick="setForgottenEmail();">Forgot your password?</a>
                    </div>
                </div>
                <script>
                    //
                    $$('#signup_form :input:visible:enabled:first').focus()
                    //
                </script>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</form>